/* constnt color */
:root {
  --bg: #1c1c71;
  --text: #ffffff;
  --input: #1a1a4a;
  --output: #1a1a4a;
  --button: #16ff32;
  --button-hover: #ff7f00;
  --history: #1f1f7a;
  --history-item-hover: #37378a;
}
body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  /* height: vh; */
  background-color: var(--bg);
  font-family: Arial, sans-serif;
}

.container {
  /* title at the center */
  justify-content: center;
  display: flex;
  flex-direction: row;
  /* menyesuaiakan ukuran layar */
  width: 1200px;
  background-color: var(--bg);
  color: var(--text);
  overflow: hidden;
}

.history {
  flex: 1;
  padding: 20px;
  background-color: var(--bg);
  display: flex;
  flex-direction: column;
  /* height: 100%; */
  /* overflow-y: auto; */
}

.ascii-history {
  flex: 1;
  overflow-y: auto;
  border: (0.3)px solid #ffffff;
  /* background-color: var(--input); */
}

.binary-history {
  flex: 1;
  overflow-y: auto;
  border: (0.3)px solid #ffffff;
  /* background-color: var(--input); */
}

.space {
  color: var(--bg);
}
.content1 {
  flex: 2;
  padding: 20px;
  background-color: var(--bg);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.content2 {
  flex: 2;
  padding: 20px;
  background-color: var(--bg);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  text-align: center;
  margin-bottom: 20px;
  color: var(--text);
}

.section {
  margin-bottom: 20px;
}

.input-area,
.output-area {
  width: 120%;
  height: 150px;
  padding: 10px;
  border: (0.3)px solid #ffffff;
  border-radius: 4px;
  background-color: var(--input);
  color: var(--text);
  font-family: Arial, sans-serif;
  overflow-y: auto;
}

.button {
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  background-color: var(--button);
  color: var(--bg);
  cursor: pointer;
}

.button:hover {
  color: var(--text);
  background-color: var(--button-hover);
}

.history-item {
  cursor: pointer;
  margin-bottom: 10px;
}

.history-item:hover {
  background-color: var(--history-item-hover);
}

.history-input,
.history-output {
  margin-bottom: 5px;
}

.history-input span,
.history-output span {
  font-weight: bold;
}