body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  /* height: vh; */
  background-color: #1f1f7a;
  font-family: Arial, sans-serif;
}

.container {
  /* title at the center */
  flex-direction: column;
  justify-content: center;
  display: flex;
  flex-direction: row;
  width: 1000px;
  background-color: #1f1f7a;
  color: #ffffff;
  overflow: hidden;
}

.history {
  flex: 1;
  padding: 20px;
  background-color: #1f1f7a;
}

.content1 {
  flex: 2;
  padding: 20px;
  background-color: #1f1f7a;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.content2 {
  flex: 2;
  padding: 20px;
  background-color: #1f1f7a;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  text-align: center;
  margin-bottom: 20px;
  color: #ffffff;
}

.section {
  margin-bottom: 20px;
}

.input-area,
.output-area {
  width: 120%;
  height: 150px;
  padding: 10px;
  border: (0.3)px solid #ffffff;
  border-radius: 4px;
  background-color: #1a1a4a;
  color: #ffffff;
  font-family: Arial, sans-serif;
}

.button {
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  background-color: #16ff32;
  color: #1f1f7a;
  cursor: pointer;
}

.button:hover {
  background-color: #ff7f00;
}

.history-item {
  cursor: pointer;
  margin-bottom: 10px;
}

.history-item:hover {
  background-color: #6a006a;
}

.history-input,
.history-output {
  margin-bottom: 5px;
}

.history-input span,
.history-output span {
  font-weight: bold;
}
